* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* common */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%
}

a {
    text-decoration: none;
    color: white;
}

span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
}

.large-button {
    padding: 20px 25px;
    border-radius: 40px;
    vertical-align: middle;
    font-size: 1.5rem;
}

.small-button {
    padding: 10px 15px;
    border-radius: 20px;
    vertical-align: middle;
    font-size: 1rem;
}

.wb {
    color: black;
    background-color: white;
}

.bb {
    background-color: #23272a;
    margin-left: 25px;
}

.blue-b {
    background-color: #7289da;
}

h2 {
    font-size: 3.2rem;
}

p {
    line-height: 30px;
}

.section-p {
    font-size: 1.3rem;
    margin-top: 25px;
}

.arrow {
    padding: 0 5px 0 0;
}

ul {
    list-style: none;
}

.u-list {
    display: flex;
}

.l-i {
    padding: 0px 10px 20px 0px;
    margin-right: 15px;
}

/* /common */

/* header */

.header {
    background-color: #255ee9;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    vertical-align: middle;
}

.header-row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav {
    display: flex;
}

.nav li {
    margin: 20px;
}

.logo {
    width: 25%;
    justify-content: left;
}

.link {
    width: 50%;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
}

.login {
    width: 25%;
    justify-content: right;
}

/* /header */

/* main */

/* hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 125px 10px 240px;
    color: white;
}

h1 {
    font-size: 3.5rem;
    padding-top: 90px;
}

.hero-p {
    font-size: 1.5rem;
    padding: 40px 0 10px 0;    
    margin-bottom: 20px;
    line-height: 40px;
}

.first-section-content {
    width: 50%;
}

.first-item {
    padding-bottom: 50px;
}

/* /first section */

/* second-section */

.second-section {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.second-row {
    display: flex;
    align-items: center;
}

.second-section-lcol {
    width: 60%;
}

.second-section-rcol {
    width: 40%;
}


/* /secondsection */

/* third section */

.third-section {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 70px;
}

.third-row {
    display: flex;
}

.third-section-lcol {
    width: 40%;
    padding-top: 30px;
}

.third-section-rcol {
    width: 60%;
}

/* /third section */

/* fourth section */

.fourth-section {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.fourth-row {
    display: flex;
}

.fourth-section-lcol {
    width: 60%;
}

.fourth-section-rcol {
    width: 40%;
    padding-top: 30px;
}

/* /fourth section */

/* fifth section */

.fifth-section {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.fifth-section-content {
    text-align: center;
    padding: 50px 50px 100px 50px;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 50px;
}


/* /fifth section */

/* /main */

/* footer */

/* upper footer */

.upper-footer {
    display: flex;
    justify-content: center;
    background-color: #23272a;
    padding: 90px 0px 20px 0px;
}

.upper-footer-row {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #3d4764;
}

.big-upper-footer-col {
    width: 30%;
}

h4 {
    font-size: 2.5rem;
}

.ita{
    width: 8%;
}

.language{
    display: inline;
    color: white;
}

.italia {
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.small-upper-footer-col {
    width: calc(70% / 4);
}

.b-i {
    color: #7189da;
}

.first {
    padding: 0;
}

.second {
    padding-left: 30px;
}

.third {
    padding: 0px 0px 20px 70px;
}

.fourth {
    padding-left: 110px;;
}

.brand {
    font-size: 1.5rem;
}

/* /upper footer */

/* lower footer */
.lower-footer {
    background-color: #23272a;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    align-items: end;
    padding-top: 20px;
    
}

.lower-footer-row {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.footer-logo {
    justify-content: left;
    padding: 5px;
}

/* /lower-footer */