* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* common */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 60%
}

a {
    text-decoration: none;
    color: white;
}

span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
}

.button {
    padding: 15px 15px;
    border-radius: 25px;
    vertical-align: middle;
    background-color: white;
}

.wb {
    color: black;
}

.bb {
    background-color: #23272a;
    margin-left: 25px;
}

.blue-b {
    background-color: #7289da;
    margin: 100px 0;
}

h2 {
    font-size: 2.7rem;
}

p {
    line-height: 35px;
}

.section-p {
    font-size: 1.1rem;
    margin-top: 25px;
}

.arrow {
    margin: 0 5px 0 0;
}
/* /common */

.header {
    background-color: #255ee9;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    vertical-align: middle;
}

.header-row {
    display: flex;
    align-items: center;
}

.col {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 25%;
    justify-content: left;
}

.link {
    width: 50%;
    justify-content: space-around;
    text-decoration: none;
}

.login {
    width: 25%;
    justify-content: right;
}

/* main */

/* hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.3rem;
    padding: 90px 10px 190px;
    color: white;
}

h1 {
    font-size: 3rem;
    padding-top: 80px;
}
.hero-p {
    font-size: 1.3rem;
    padding: 34px;
    margin-bottom: 20px;
}

.first-section-content {
    width: 50%;
}

/* /first section */

/* second-section */

.second-section {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.second-row {
    display: flex;
    align-items: center;
}

.second-section-lcol {
    width: 60%;
}

.second-section-rcol {
    width: 40%;
}

/* /secondsection */

/* third section */

.third-section {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 70px;
}

.third-row {
    display: flex;
    align-items: center;
}

.third-section-lcol {
    width: 40%;
}

.third-section-rcol {
    width: 60%;
}

/* /third section */

/* fourth section */

.fourth-section {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.fourth-row {
    display: flex;
    align-items: center;
}

.fourth-section-lcol {
    width: 60%;
}

.fourth-section-rcol {
    width: 40%;
}

/* /fourth section */

/* fifth section */

.fifth-section {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.fifth-section-content {
    text-align: center;
    padding: 50px 50px 100px 50px;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 50px;
}

/* /fifth section */

/* /main */

/* footer */

/* upper footer */

.upper-footer {
    display: flex;
    justify-content: center;
    background-color: #23272a;
}

.upper-footer-row {
    display: flex;
    align-items: center;
}

.big-upper-footer-col {
    height: 450px;
    width: 30%;
    background-color:#f08080;
    border: 1px solid black;
}

.small-upper-footer-col {
    height: 450px;
    width: calc(70% / 4);
    background-color: #20b2aa;
    border: 1px solid black;
}

/* /upper footer */

/* lower footer */
.lower-footer {
    background-color: #23272a;
    height: 100px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    align-items: end;
    border-top: 1px solid white;
}

.lower-footer-row {
    height: 70px;
    background-color: #7fffd4;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    justify-content: left;
    background-color: #ffb6c1;
    border: 1px solid black;
    padding: 5px;
}

/* .button {
    justify-content: right;
    background-color: #ffb6c1;
    border: 1px solid black;
    padding: 5px;
} */

/* /lower-footer */